In [83]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.preprocessing import MinMaxScaler


data = pd.read_csv('/content/BankChurners.csv')


#df['Gender'].unique()


df = data.copy()

df.loc[df['Gender'] == 'M', 'Gender'] = 0
df.loc[df['Gender'] == 'F', 'Gender'] = 1

df['Education_Level'].unique()

df[['High School', 'Graduate', 'Uneducated', 'Unknown', 'College', 'Post-Graduate', 'Doctorate'] ] = [0, 0, 0, 0, 0, 0, 0]

df[['High School', 'Graduate', 'Uneducated', 'Unknown', 'College', 'Post-Graduate', 'Doctorate'] ]

df.loc[df['Education_Level'] == 'High School', 'High School'] = 1
df.loc[df['Education_Level'] == 'Graduate', 'Graduate'] = 1
df.loc[df['Education_Level'] == 'Uneducated', 'Uneducated'] = 1
df.loc[df['Education_Level'] == 'Unknown', 'Unknown'] = 1
df.loc[df['Education_Level'] == 'College', 'College'] = 1
df.loc[df['Education_Level'] == 'Post-Graduate', 'Post-Graduate'] = 1
df.loc[df['Education_Level'] == 'Doctorate', 'Doctorate'] = 1

marital_list = df['Marital_Status'].unique().tolist()
print(marital_list)

df[ marital_list ] = [0 for i in range(len(marital_list))]

#df[marital_list]

for tag in marital_list :
  print(tag)
  df.loc[df['Marital_Status'] == tag, tag] = 1

#df[marital_list]
#df['Card_Category'].unique()

card_list = df['Card_Category'].unique().tolist()

print(card_list)

card_list[1] = 'Silver'
card_list[2] = 'Gold'

print(card_list)

df['card_value'] = 0

value = 0
for tag in card_list :
  print(tag)
  df.loc[df['Card_Category'] == tag, 'card_value'] = value
  value += 1

#data

income_list = df['Income_Category'].unique().tolist()

print(income_list)

df[ income_list ] = [0 for i in range(len(income_list))]
#df['income_value'] = 0

for tag in income_list :
  print(tag)
  df.loc[df['Income_Category'] == tag, tag ] = 1

df[income_list]


#print(data)

exist_str = data["Attrition_Flag"].unique()[0]
attrited_str = data["Attrition_Flag"].unique()[1]

print(exist_str, attrited_str)


df['Y'] = 0

df.loc[df['Attrition_Flag'] == attrited_str, 'Y'] = 1

#df['Y']

df.drop(['Income_Category', 'Card_Category', 'Marital_Status', 'Education_Level', 'Gender', 'Attrition_Flag', 'CLIENTNUM', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1', 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'],
        axis = 1, inplace = True)

# data scaling

min_max_scaler = MinMaxScaler()
fitted = min_max_scaler.fit(df)

col = df.shape[1]

print(col)

df_array = min_max_scaler.transform(df)

df_array[col - 1]

df

['Married', 'Single', 'Unknown', 'Divorced']
Married
Single
Unknown
Divorced
['Blue', 'Gold', 'Silver', 'Platinum']
['Blue', 'Silver', 'Gold', 'Platinum']
Blue
Silver
Gold
Platinum
['$60K - $80K', 'Less than $40K', '$80K - $120K', '$40K - $60K', '$120K +', 'Unknown']
$60K - $80K
Less than $40K
$80K - $120K
$40K - $60K
$120K +
Unknown
Existing Customer Attrited Customer
31

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,...,Married,Single,Divorced,card_value,$60K - $80K,Less than $40K,$80K - $120K,$40K - $60K,$120K +,Y
0,45,3,39,5,1,3,12691.0,777,11914.0,1.335,...,1,0,0,0,1,0,0,0,0,0
1,49,5,44,6,1,2,8256.0,864,7392.0,1.541,...,0,1,0,0,0,1,0,0,0,0
2,51,3,36,4,1,0,3418.0,0,3418.0,2.594,...,1,0,0,0,0,0,1,0,0,0
3,40,4,34,3,4,1,3313.0,2517,796.0,1.405,...,0,0,0,0,0,1,0,0,0,0
4,40,3,21,5,1,0,4716.0,0,4716.0,2.175,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,50,2,40,3,2,3,4003.0,1851,2152.0,0.703,...,0,1,0,0,0,0,0,1,0,0
10123,41,2,25,4,2,3,4277.0,2186,2091.0,0.804,...,0,0,1,0,0,0,0,1,0,1
10124,44,1,36,5,3,4,5409.0,0,5409.0,0.819,...,1,0,0,0,0,1,0,0,0,1
10125,30,2,36,4,3,3,5281.0,0,5281.0,0.535,...,0,0,0,0,0,0,0,1,0,1
10126,43,2,25,6,2,4,10388.0,1961,8427.0,0.703,...,1,0,0,1,0,1,0,0,0,1

Warning: Total number of columns (31) exceeds max_columns (20) limiting to first (20) columns.